{block content}
	<a href="{link :Admin:Store:viewStores}" class="btn btn-primary backBtn"> << Go back</a>
	<a href="{link :Admin:Store:addProduct}" class="btn btn-primary"> Add new product</a>
	{control productsGrid}
{/block}