{block content}
	<div class="row">
		<a href="{link :Admin:Store:addProduct}" class="btn btn-primary adding"> Add new product</a>	
		<a href="{link :Admin:Store:viewStores}" class="btn btn-primary backBtn adding"> << Go back</a>
	</div>

	{control productsGrid}
{/block}