{block content}
		:Front:Default:default (muzes smazat)
			
		{ifset $step2}
			<a href="{link :Front:Default:default}" class="btn btn-primary"> << Back to step 1</a>
			{control customerForm}
		{else}
			{control quoteForm}
		{/ifset}
{/block}